<a href="https://colab.research.google.com/github/Python-U/meetup/blob/master/001_Hello_Python_U_20190421.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://secure.meetupstatic.com/photos/event/6/9/8/8/global_479847016.jpeg)

# Welcome to the Python U Inaugural Meetup #1

### Quick tutorial
- This Google Colab Python 3 notebook contains two types of cells, "*code*" cells and "*text*" cells.
- To run the Python code in each code cell or display the formatted text in a text cell, just selct the cell and press **Shift + Enter ** on your keyboard.
- You can also click on the Play button ▶️ on the far left of the cell to run the code. Text cells do not have a play button.
- Double-click inside a cell to edit the contents.
- To add a cell, you can click on "**+CODE**" or "**+TEXT**" on the toolbar above or hover  your mouse between two cells and click on "**+CODE**" or "**+TEXT**" from the pop-up.
- To delete a cell, click on the three dots ⠸ on the far right of the cell and select "Delete cell."

## Get ready to do some typing!!

![alt text](https://media.giphy.com/media/o0vwzuFwCGAFO/giphy.gif)

In [0]:
# This is a code cell

In [0]:
# <---- Click the play button to run the code

This is a normal text cell. Double-click to edit the text.

### Let's get started with a traditional "Hello, World!"" variant!

Print "***Hello, Python U!***" to the console using the **standard** *print* statement.



```
print("Hello, Python U!")
```

In [0]:
print("Hello, Python U!")

Hello, Python U!

Print "***Hello, Python U!***" to the console using the **format** *print* statement.



```
print("Hello, {}!".format('Python U'))
```

In [0]:
print("Hello, {}!".format('Python U'))

Hello, Python U!

Print "Hello, Python U!" to the console using the new Python 3 **f-string** statement.


```
meetup = "Python U"
print(f"Hello, {meetup}!")
```

# Basic Data Types

## Intergers ( int )


> ### Whole numbers

*   3
*   100
*   500




## Floating point numbers ( float )


> ### Number with a decimal point.

*   1.5 
*   3.1415  
*   100.0


## Strings ( str )


> ### An ordered sequence of characters. Also treated as a "list" of characters enclosed in single quotes  ' ' or double quotes " "
> ### Strings are immutable, ie. cannot be changed

*   "Hello"
*   "Bob"
*   'Alice'
*   "美味しい"
*   "2000"


## Lists ( list )


> ### Ordered sequence of different kinds of objects enclosed in square brackets " [ ] "

*   [10, "Hello", "Johnny", 1000, 3.1415]
*   [1, 2, 3, 4, 5]
*   ["Python U", "software", "website", "computer"]

## Dictionaries ( dict )


> ### Unordered Key:Value pairs enclosed in curly braces " { } "

*   {"key1":"value1", "key2":"value2", "key3":"value3"}
*   {"id":1, "first_name":"Johnny Viper", "group":"Python U"}


## Tuples ( tup ) (TOO-ple  or  TUP-ple)


> ### Ordered **immutable** sequence of objects enclosed in parantheses " ( ) "

* (10, "hello", 200.3)
* (1, 2, 3)

## Sets ( set )


> ### **Unordered** collection of unique objects

* {"a", "b"}
* {}

## Booleans ( bool )


> ### Logical value indicating either **True** or **False**

* True
* False

# Numbers and simple math operators ( + , - , * , / )



```
2 + 2

50 - 5 * 6

(50 - 5*6) / 4

8 / 5  # division always returns a floating point number
```

## More math operators ( // , % )



```
17 / 3  # classic division returns a float


17 // 3  # floor division discards the fractional part, also called integer division

17 % 3  # the % (modulo) operator returns the remainder of the division

5 * 3 + 2  # result * divisor + remainder
```

# Variables and the Equal sign ( = )

The equal sign '=' is used to assign a value to a variable



```
width = 20
height = 5 * 9
width * height
name = 'Python Ubie!'
```

# Lists



```
squares = [1, 4, 9, 16, 25, 36, 49]
squares
```



```
squares[0]  # indexing returns the item

squares[-1]

squares[-3:]  # slicing returns a new list
```



```
squares[:]
```

### You can concatenate lists. You can add extra items to an existing list.

```
squares + [37, 49, 64, 71, 200]
```

### Let's try to modify the contents of a lists

```
cubes = [1, 8, 27, 65, 125]  # there is a problem here
4 ** 3  # the cube of 4 is 64, not 65!

cubes[3] = 64  # replace the wrong value with the correct one
cubes
```



```
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

# now remove them
letters[2:5] = []
letters

# clear the list by replacing all the elements with an empty list
letters[:] = []

# display the contents of the list and confirm the changes
letters
```

## len( )  function

```
letters = ['a', 'b', 'c', 'd']
len(letters)
```



```
numbers = [55, 11, 33, 77, 99, 22]
len(numbers)
```

### Nested lists. Lists within lists

```
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)
```



```
print(x[0])
print(x[0][1])
```

# Append
## How to append a new value to the end of a list?


```
values = [1, 2, 3, 4, 5]

values.append(6)

values
```

# Delete
## How to delete a value from a list?


```
values = [1, 2, 3, 4, 5]

del values[3]

values
```

## What happens when you point to a higher index location beyond the size of the actual list?


```
word = 'Hello'
word[15]
```

## What happens when you designate a range that goes beyond the last element of a list?


```
word = 'Hello'
word[3:35]
```

## Can you change the contents of a string?


```
my_word = 'Hello'
my_word[1] = 'a'
```

## Can you change the entire contents of a string variable?


```
new_word = 'Hello'
new_word = 'Halloween'

new_word
```

In [0]:
word = 'Hello'
word = 'Hallo'
print(word)

## Checking the length of a string


```
my_string = 'Python U'
len(my_string)
```



```
haiku = "蝉しぐれ、二匹いたら、セミダブル"
len(haiku)
```

## How to replace part of a string using the *replace( )* method


```
greeting = 'Hello Python U'
greeting.replace('Hello', 'Hallo')
print(greeting)
```

# More fun with lists!

## Review: create a list and check the value of a specific index


```
values = [1, 2, 3, 4, 5]

values[1]
```

## What is the code below trying to do?

```
values = [6, 7, 8, 9, 10]

values[-1]
```



```
values = [6, 7, 8, 9, 10]

values[1:4]
```

## What is the code below trying to do?

```
values = [10, 20, 30, 40, 50]

len(values)
```

## How do you concatenate two different lists?


```
values = [10, 20, 30, 40, 50]

values + [60, 70, 80, 90, 100]
```

## How do you replace or overwrite a single value within a list?


```
values = [1, 2, 3, 4, 5]

values[3] = 11

values
```

## How do you modify a range of values within a list?


```
values = [1, 2, 3, 4, 5]

values[1:4] = [10, 11, 12]

values
```

## Count how many times a specific element appears in a list.


```
wine_grapes = ['Pinot Noir', 'Cabernet Sauvignon', 'Chardonnay', 'Pinot Noir', 'Riesling', 'Cabernet Sauvignon', 'Cabernet Sauvignon', 'Chardonnay', 'Chardonnay']

wine_grapes.count('Chardonnay')
```



```
values = [1, 2, 3, 4, 5]

values[1:4] = []

values
```

## Append three more different values to the list below

```
my_numbers = [45, 66, 73, 12, 43]
```

## Before you type out the code below, guess what the result would be.

```
wine_grapes = ['Cabernet Sauvignon', 'Chardonnay', 'Pinot Noir', 'Riesling', 'Chardonnay']

wine_grapes.index('Pinot Noir')
```



```
fruits = ['orange', banana, 'grape', 'apple', 'lemon', 'pineapple']

fruits.reverse()

print(fruits)
```



```
numbers = [33, 15, 55, 21, 75, 100, 2]

nummbers.sort()

numbers
```



```
numbers = [33, 15, 55, 21, 75, 100, 2]

nummbers.sort(reverse=True)

print(numbers)
```



---

## Great job! You've reached the end of this notebook!