<a href="https://colab.research.google.com/github/Python-U/meetup/blob/master/003_Python_U_Meetup_201907xx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://nixojp.com/meetup/img/pythonu-logo-small.jpeg)

# Welcome to Python U Meetup #3

### Quick tutorial
- This Google Colab Python 3 notebook contains two types of cells, "*code*" cells and "*text*" cells.
- To run the Python code in each code cell or display the formatted text in a text cell, just selct the cell and press **Shift + Enter ** on your keyboard.
- You can also click on the Play button ▶️ on the far left of the cell to run the code. Text cells do not have a play button.
- Double-click inside a cell to edit the contents.
- To add a cell, you can click on "**+CODE**" or "**+TEXT**" on the toolbar above or hover  your mouse between two cells and click on "**+CODE**" or "**+TEXT**" from the pop-up.
- To delete a cell, click on the three dots ⠸ on the far right of the cell and select "Delete cell."

## Review Quiz




1.   What is the difference between a 'float' and an 'integer?'
2.   What is a 'boolean?'
3.   How do you check the 'type' of a variable?
4.   How do you check how many items are in a list variable?
5.   Describe the order of arithmetic operators in Python.

## Code Review 1



```
# Print out the string "Hello World!" using the 'f-string' print function.
```

## Code Review 2

```
# Create two new variables of any name and assign them the values of two different numbers.
# Print out the mathematical product (multiply) of the two variables.
```

## Code Review 3



```
# Create a variable of a list of 5 squared numbers and print out the list.
```



---

# Section 1
# *for*  Statement

### 1-1

**for** *VARIABLE* **in** *ITERATOR* **:**
> *STATEMENT1*

> *STATEMENT2*

> ...





```
# Example
# Measure some strings:
words = ['dog', 'house', 'disestablishmentarianism']
for w in words:
    print(w, len(w))
```



```
numbers1 = [1, 2, 3, 4, 5]

for num in numbers1:
    print(num ** 2)
```





```
score1 = {'math': 100, 'science': 90}

for value in score1.values():
    print(value)
```



```
score2 = {'math': 100, 'science': 90}

for key, value in score.items():
    print(key, value)
```



```
profiles = [
    ('sato', 170, 74),
    ('tanaka', 180, 70),
    ('yoshida', 160, 50)
]

for name, height, weight in profiles:
    print(name, height, weight)
```



```
numbers2 = [4, 1, 5, 7, 11, 3, 4, 5]

found = False

for num in numbers2:
    if num >= 10:
        found = True
        
if found:
    print('There are numbers greater than or equal to 10')
else:
    print('No numbers greater than or equal to 10')
```



```
numbers3 = [4, 1, 5, 7, 11, 3, 4, 5]

found = False

for num in numbers3:
    if num >= 10:
        found = True
        break  # This is the new line
        
if found:
    print('There are numbers greater than or equal to 10')
else:
    print('No numbers greater than or equal to 10')
```



```
numbers4 = [4, 1, 5, 7, 11, 3, 4, 5]

for num in numbers4:
    if num >= 10:
        print('There are numbers greater than or equal to 10')
        break
        
    else:
        print('No numbers greater than or equal to 10')
```



```
for i in range(10):
    print(i, end=' ') # Use space between items, not new line
    
for i in range(10):
    print(i)
```



```
for i in range(1, 11):
    print(i, end=' ')
```



```
for i in range(1, 11, 2):
    print(i, end=' ')
```



```
numbers5 = range(10)

print(numbers5)

print(type(numbers5))
```



```
numbers6 = list(range(10))

print(numbers6)

print(type(numbers6))
```

# Section 2
# *while*  Loop

### 2-1


```
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b
```



---