<a href="https://colab.research.google.com/github/Python-U/meetup/blob/master/004_Python_U_Meetup_20190728.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://nixojp.com/meetup/img/pythonu-logo-small.jpeg)

# Welcome to Python U Meetup #4

### Quick tutorial
- This Google Colab Python 3 notebook contains two types of cells, "*code*" cells and "*text*" cells.
- To run the Python code in each code cell or display the formatted text in a text cell, just selct the cell and press **Shift + Enter ** on your keyboard.
- You can also click on the Play button ▶️ on the far left of the cell to run the code. Text cells do not have a play button.
- Double-click inside a cell to edit the contents.
- To add a cell, you can click on "**+CODE**" or "**+TEXT**" on the toolbar above or hover  your mouse between two cells and click on "**+CODE**" or "**+TEXT**" from the pop-up.
- To delete a cell, click on the three dots ⠸ on the far right of the cell and select "Delete cell."

## Review Quiz




1.   What is the equivalent of a Python "list" in JavaScript?
2.   Python "dictionaries" and made up of two types of information; what are they?
3.   True/False: "Tuples" are immutable.
4.   How do you check how many items are in a list variable?
5.   What is the result of the following code?

word = 'Hello'

word[15]

## Code Review 1



```
# Create a variable of the string "Hello!" and print it out using the 'f-string' method.
```

## Code Review 2

```
# Create two new variables of any name and assign them the values of two different numbers.
# Print out the mathematical product (multiply) of the two variables.
```

## Code Review 3



```
# Create a variable of a list of five numbers and print out the list.
```



---

![alt text](https://nixojp.com/meetup/img/view01.jpg)

# Section 1
# *for*  Statement

### 1-1

**for** *VARIABLE* **in** *ITERATOR* **:**
> *STATEMENT1*

> *STATEMENT2*

> ...





```
# Example
# Measure some strings:
words = ['dog', 'house', 'disestablishmentarianism']
for w in words:
    print(w, len(w))
```



```
numbers1 = [1, 2, 3, 4, 5]

for num in numbers1:
    print(num ** 2)
```

### 1-2



```
score1 = {'math': 100, 'english': 90}

# Print just the 'value'
for value in score1.values():
    print(value)
```

### 1-3

```
score2 = {'python': 90, 'biology': 85}

# Print both the 'key' and 'value'
for key, value in score.items():
    print(key, value)
```

### 1-4

```
# Prepare a list of tuples
profiles = [
    ('sato', 170, 74),
    ('tanaka', 180, 70),
    ('yoshida', 160, 50)
]

# For each tuple in the list, print out each item
for name, height, weight in profiles:
    print(name, height, weight)
```

### 1-5

```
numbers2 = [4, 1, 5, 7, 11, 3, 4, 5]

found = False

for num in numbers2:
    if num >= 10:
        found = True
        
if found:
    print('There are numbers greater than or equal to 10')
else:
    print('No numbers greater than or equal to 10')
```

### 1-6

```
# Make a simple algorithm
numbers3 = [4, 1, 5, 7, 11, 3, 4, 5]

found = False

for num in numbers3:
    if num >= 10:
        # Update the 'found' variable
        found = True
        break  # This is the new line
        
if found:
    print('There are numbers greater than or equal to 10')
else:
    print('No numbers greater than or equal to 10')
```

### 1-7

```
# Make a simple algorithm
numbers4 = [4, 1, 5, 7, 11, 3, 4, 5]

for num in numbers4:
    if num >= 10:
        print('There are numbers greater than or equal to 10')
        break
        
    else:
        print('No numbers greater than or equal to 10')
```

![alt text](https://nixojp.com/meetup/img/sunset01.jpg)

# Section 2 - range( )

### 2-1

```
for i in range(10):
    print(i, end=' ') # Use space between items, not new line
    
for i in range(10):
    print(i)
```

### 2-2

```
for i in range(1, 11):
    print(i, end=' ')
```

### 2-3

```
for i in range(1, 11, 2):
    print(i, end=' ')
```

### 2-4

```
numbers5 = range(10)

print(numbers5)

print(type(numbers5))
```

### 2-5

```
numbers6 = list(range(10))

print(numbers6)

print(type(numbers6))
```

![alt text](https://nixojp.com/meetup/img/droids01.jpg)

# Section 3 - enumerate( ) & zip( )

### 3-1


```
# Create a list of famous droids from the Star Wars movies
droids1 = ['R2D2', 'C3PO', 'BB8', 'K2SO']

# Print out a numbered list of all droids
for i in range(len(droids1)):
    print(i, droids1[i])
```

### 3-2


```
# Create a list of famous droids from the Star Wars movies
droids2 = ['R2D2', 'C3PO', 'BB8', 'K2SO']

# Print out a numbered list of all droids using 'enumerate' function
for i, droid in enumerate(droids2):
    print(i, droid)
```

### 3-3


```
droids3 = ['R2D2', 'C3PO', 'BB8', 'K2SO']

# Assign the droids3 variable as a numbered list
droid_list = list(enumerate(droids3))

# Assign the droids3 variable as a numbered dictionay
droid_dict = dict(enumerate(droids3))

# Print out both variables to compare
print(droid_list)
print(droid_dict)

```

### 3-4


```
# Prepare two separate list variables
droids4 = ['R2D2', 'C3PO', 'BB8', 'K2SO']
people = ['Luke Skywalker', 'Anakin Skywalker', 'Rey', 'Cassian Andor']

# Use the 'zip' function to combine the two lists
for d, p in zip(droids4, people):
    print(d, p)
```



---

# Awesome job! You've reached the end of this notebook!